.herowrap {
  max-width: 100%;
  width: 100%;
  .hero {
    background-color: $main-color;
    height: 20vh;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 15px;
    font-family: 'Montserrat', sans-serif;

    p {
      margin: 0 15px;
      font-size: 3em;
    }
  }
}