header{
  padding: 15px;
  display: flex;
  flex-direction: row;
justify-content: space-between;
align-items: center;
  .logo{
    color: $main-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .menuAndLogo,.personalmenu{
    display: flex;
    flex-direction: row;
    // margin: 0 15px;

  }
  .personalmenu{
    p:nth-child(odd){
      margin: 0 15px;
    }
  }
  .menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 15px;
    .selected{
      border-bottom: 1px solid #000000;
    }
    li{
      margin: 0 5px 0 0;
      // padding: 0 10px;
    }
    ul{
      display: none;
      position: absolute;
      list-style: none;
      background-color: $secundary-color;
      border-radius: 5px;
      padding: 10px;
      li{
        height: 30px;
        display: flex;
        // justify-content: center;
        align-items: center;
      }

      li:nth-child(even){
        // padding: 5px 0 ;

      }
    }
    .drop:hover{
      ul{
        display: block;
      }
      li:hover{
        border-bottom: 1px solid #000000;
      }
    }
  }

  .search{
    display: flex;
    flex-direction: row;
    border: 2.5px solid #000;
    border-radius: 15px;
    min-width: 0;
    width: 18%;
    flex-grow: 1;
    max-width: 500px;
    // max-height: 30px;
   img{
    //  border-left: 1px solid #000;
    //  height: 100%;
    max-width: 35px;
    width: 100%;
    height: auto;
   } 
   input{
      background-color: transparent;
      border: none;
      width: 100%;
   }
  }

}