.productRow,.section {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.section{
  flex-direction: column;
  margin: 0;
  flex-grow: 0.5;
  .productRow{
    margin: 0;
  }
}

.expandable{
  border: 1px solid #333;
}
.small{
  max-width: 30%;
}
.productWrap {

  display: flex;
  // flex-direction: column;

  padding: 0 15px 0 0;

  .product {
    padding: 5px;
    padding-bottom: 100px;
    border: 3px solid #333333;
    flex-direction: column;

    img {
      max-width: 500px;
    }
    p{
      font-size: 1.3em;
      
    }

  }
  button{
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px darken($main-color ,5) solid;
    background-color: $main-color;
    font-weight: 500;
    color: white;
    justify-self: flex-end;
    align-self: flex-end;
    margin: -10px -30px;
    font-size: 1.12em;
    z-index: 1;
  }
}